<!-- Loop over each object in the projects array -->

<div class="row mb-4 project">
  <div class="col-md-5">

    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">Lotsa Big Money</span>
      needed!
    </p>
    <p>Created by JoeBlow on his own time</p>
  </div>


